
.rotate{
    opacity: 0.5;
    -webkit-transform: skewX(20deg);
    margin-left: 50px;
    color:#730A81;


}
#answer{
    margin-left: 81px;
    font-size:23px;
    color:#798A78;
}
p{
    margin-top: 13px;
}
#title{
    color:rgb(118, 136, 230);
    font-weight:bold ;
    font-size:22px;
    display:none;
}
#user{

    display:none;
    border: 1px solid lightblue;
    border-radius: 20px;
    background-color: rgb(219, 173, 230);
    position: relative;
    left: 60px;
    width: 220px;
    height:80px;
    padding-top: 13px;
    padding-left: 13px;
    margin-left: 60px;
    top: 7px;

    z-index:1005;

}
#rightWrapper{
    border: 2px solid #84648f;
    width:265px;
    height:600px;
    float:right;
    border-radius: 25px;
    background-color: #8397dd;
    margin-right: 7px;
    margin-top: 10px;

}
.leftWrapper{
    border: 2px solid #84648f;
    width:500px;
    float:left;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
    height: 600px;

}
#userName{
    float:right;
    width:100px;
    margin-right: 50px;
    background-color : #C7E0F1;
    border-radius: 5px;

}
.gradi1{
    background: -webkit-radial-gradient(white,lightpink,#8397dd);
}
.gradi2{
    background: -webkit-radial-gradient(white,#F1E1B0,#7F28A8);
}
.gradi3{
    background: -webkit-radial-gradient(white, lightblue);
}

#stranger{
    text-align: center;
    margin-top: 30px;
}
#NewGame{
    height:63px;
    margin-top: 15px;
    float: left;
    margin-left: 10px;
    border-radius: 46px;
}
#highScore{
    margin-top: 15px;
    float:left;
    margin-right: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 8px;
}
#level{
    margin-top: 15px;
    float:left;
    border: 1px solid #84648f;
    margin-left: 7px;
    border-radius: 20px;
    padding-bottom: 8px;
    background-color:#C6ACCF;
    padding-left: 10px;
    width: 228px;
}
#timer{
    margin-top: 30px;
    width: 100px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: #C2BFB6;
    height:50px;
    padding-left: 18px;
}
#nextNumber{
    margin-top: 30px;
    width: 100px;
    height: 92px;
    padding-left: 18px;
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-radius: 102px;
    background-color: #C2BFB6;
    font-size: 30px;
}
#counter{
    padding-left: 28px;
    padding-top: 24px;
    font-size: 24px ;
    color:#8397dd;
    font-weight:bold;
}
#timerCounter{
    padding-left: 17px;
    padding-top: 11px;
}
.boxes{
    border: 2px solid lightblue;
    background-color: lightblue;
    width:70px;
    height:70px;
    float:left;
    border-radius: 10px;
    margin-right: 3px;
    margin-bottom: 3px;
    text-align:center;
    line-height:70px;
    font-weight:bold;
    font-size: 18px ;
    color:#6D7AAA;
}
#Wrapper16{
    display:none;
    float:left;
    border-radius: 5px;
    width:350px;
    height:300px;
    padding-left: 5px;
    margin-top: 60px;
    margin-left:90px;
    padding-top:5px;
}
#Wrapper25{
display:none;
    float:left;
    border-radius: 5px;
    width:400px;
    height:300px;
    padding-left: 5px;
    margin-top: 60px;
    margin-left:57px;
    padding-top:5px;

}
#Wrapper36{
    display:none;
    float:left;
    border-radius: 5px;
    width:465px;
    height:600px;
    padding-left: 5px;
    margin-top: 18px;
    margin-left:15px;
    padding-top:5px;
}
.cb{
    clear: both;
}

#infoDiv{
    border: 5px solid rgb(188, 190, 128);
    border-radius: 30px;
    background-color: lightblue;
    position: absolute;
    left: 110px;
    top: 250px;
    width: 165px;
    height:250px;
    padding-left: 12px;
    padding-top: 23px;
    float:left;
    display:none;

}
#boxNum{
    padding-left: 6px;
}

.icon{
    width: 20px;
    height:20px;
    float:right;
    padding-right:10px;
}
#infoscore{
    float:left;

}
.popup{
    display:none;
    border: 1px solid lightblue;
    border-radius: 20px;
    background-color:rgb(219, 173, 230);
    position: relative;
    left: 60px;
    width: 220px;
    height:80px;
    padding-top: 20px;
    padding-left: 13px;
    margin-left: 60px;
    top:10px;
    z-index:1005;

}
.popup p{
    margin-bottom: 8px;
}
#user p{
    margin-bottom: 8px;
}

#visible{
    opacity: 0.65;
    background-color:#111;
    position:fixed;
    z-index: 1000;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    overflow:auto;
    display:none;

}
.button1{
    float:right;
    border: 2px outset rgb(196, 196, 196);
    background-color: rgb(202, 202, 150);
    text-decoration: none;
    margin-top: 55px;
    margin-right: 24px;
    border-radius: 6px;

}


.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#acb3b5), to(#65a9d7));
    background: -webkit-linear-gradient(top, #acb3b5, #65a9d7);
    background: -moz-linear-gradient(top, #acb3b5, #65a9d7);
    background: -ms-linear-gradient(top, #acb3b5, #65a9d7);
    background: -o-linear-gradient(top, #acb3b5, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #732273;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #6ca2c7;
    background: #C7E0F1;
    color: #8c338c;
}
.button:active {
    border-top-color: #e3e16b;
    background: #F1E1B0;
}


.bigestwrapper{
    width:800px;
    height:625px;
    border: 3px solid #84648f;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-top:60px;
    background-color:#89A788;
}
body{
    color:rgb(27, 51, 60);
    background-color:#6B3152;

}